    p {
        margin-left: 100px;
        margin-right: 100px;
        color: blanchedalmond;
        font-size: medium;
    }
            
    html {
        background-color:navy ;
        color: blanchedalmond;
    }
